.button_component {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    padding: 0;
    height: 70px;
    width: 100%;
    background-color: rgb(117, 52, 209);
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.button_component:hover{
    background-color: rgb(179, 0, 255);
}

.buttons_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}
.button_control {
  width: 300px;
}