.feedback_wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: rgb(1, 57, 1);
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.button_feedback {
  width: 500px;
  height: 100px;
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 20px;
}

.counter_like-dislike {
  width: 200px;
  height: 200px;
  color: white;
  font-size: 50px;
  justify-content: center;
  align-items: center;
}

#like {
   
}

#dislike {
   background: rgb(128, 128, 128);
}

#resetresults {
}
