.root {
  display: flex;
  flex: 1;
  padding: 40px;
  justify-content: center;
  align-items: center;
  background-color: rgb(234, 234, 233);
}

.login_button {
    width: 470px;
    height: 70px;
    background-color: #1F27F5;
    font-size: 20px;
    color: white;
}
